@{
    ViewData["Title"] = "Home Page";
}

<!-- 
    COMENTARIO
-->

@*    Este fue el ejemplo del manejo del sistema grid de bootstrap
    <div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
</div>

<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
    <div class="col">Columna 4</div>
</div>

<div class="row">
    <div class="col-6">Columna 1</div>
    <div class="col-4">Columna 3</div>
    <div class="col">Columna 4</div>
</div>

<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
    <div class="col">Columna 4</div>
    <div class="col">Columna 5</div>
    <div class="col">Columna 6</div>
    <div class="col">Columna 7</div>
    <div class="col">Columna 8</div>
    <div class="col">Columna 9</div>
    <div class="col">Columna 10</div>
    <div class="col">Columna 11</div>
    <div class="col">Columna 12</div>
</div>

<hr />

<h2>Ejemplo #2</h2>
<div class="row">
    <div class="col-sm-4">Columna 1</div>
    <div class="col-sm-4">Columna 2</div>
    <div class="col-sm-4">Columna 3</div>
</div>*@

@*<h4>Ejemplo 3: Alineando filas</h4>
<div class="row justify-content-end">
    <div class="col-3">Columna 1</div>
    <div class="col-3">Columna 2</div>
    <div class="col-3">Columna 3</div>
</div>

<div class="row" style="height: 200px;">
    <div class="col align-self-start">Columna 1</div>
    <div class="col align-self-center">Columna 2</div>
    <div class="col align-self-end">Columna 3</div>
</div>

<h4>Ejemplo 4: Offset o salto de columnas</h4>
<div class="row">
    <div class="col-3">Columna 1</div>
    <div class="col-4 offset-5">Columna 2</div>
</div>

<div class="row">
    <div class="col-2">Columna 1</div>
    <div class="col-4 ms-auto">Columna 2</div>
</div>*@

@*<h4>Ejemplo 5: Gutters</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="col-2">
        <div class="bg-light border">
            Columna 1
        </div>
     </div>
    <div class="col-2">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>

<h4>Ejemplo 6: Gutter Vertical</h4>

<div class="row gx-sm-0 gx-md-3 gx-lg-5 gy-3">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>

<h4>Ejemplo 7: Gutter Vertical y Horizontal</h4>

<div class="row g-2">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>*@

@*<h4>Ejemplo 8: Trabajar con imagenes en columnas</h4>
<div class="row">
    <div class="col-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
</div>

<h4>Ejemplo 8: Trabajar con imagenes verticales</h4>
<div class="row gy-3">
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
</div>

<h4>Ejemplo 9: Imagenes en Thumbnail</h4>
<img class="img-thumbnail rounded-circle" src="https://img.a.transfermarkt.technology/portrait/big/30598-1606767743.jpg?lm=1" />
*@
@*
<h2>Ejemplo 10: Colores</h2>
<div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
<div class="p-3 mb-2 bg-primary bg-gradient text-white">.bg-primary con gradiente</div>

<div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
<div class="p-3 mb-2 bg-secondary bg-gradient text-white">.bg-secondary con gradiente</div>

<div class="p-3 mb-2 bg-success text-white">.bg-success</div>
<div class="p-3 mb-2 bg-success bg-gradient text-white">.bg-success con gradiente</div>

<div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
<div class="p-3 mb-2 bg-danger bg-gradient text-white">.bg-danger con gradiente</div>

<div class="p-3 mb-2 bg-warning text-white">.bg-warning</div>
<div class="p-3 mb-2 bg-warning bg-gradient text-white">.bg-warning con gradiente</div>

<div class="p-3 mb-2 bg-info text-white">.bg-info</div>
<div class="p-3 mb-2 bg-info bg-gradient text-white">.bg-info con gradiente</div>

<div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
<div class="p-3 mb-2 bg-dark bg-gradient text-white">.bg-dark con gradiente</div>*@

@*<h2>Ejemplo 11: Tablas</h2>

<table class="table table-hover table-bordered table-striped table-sm">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Apellido</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Juan</td>
            <td>Perez</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Maria</td>
            <td>Mejia</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Karla</td>
            <td>Lopezfi</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td>3</td>
            <td></td>
        </tr>
    </tfoot>
</table>*@

<h2>Ejemplo 12: Ratio</h2>

<h5>Sin Ratio</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ZcIQ7xkFxd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h5>Con ration de 16x9</h5>

<div class="ratio ratio-16x9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZcIQ7xkFxd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>