@{
    ViewData["Title"] = "Home Page";
}

<!-- 
    COMENTARIO
-->

@*    Este fue el ejemplo del manejo del sistema grid de bootstrap
    <div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
</div>

<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
    <div class="col">Columna 4</div>
</div>

<div class="row">
    <div class="col-6">Columna 1</div>
    <div class="col-4">Columna 3</div>
    <div class="col">Columna 4</div>
</div>

<div class="row">
    <div class="col">Columna 1</div>
    <div class="col">Columna 2</div>
    <div class="col">Columna 3</div>
    <div class="col">Columna 4</div>
    <div class="col">Columna 5</div>
    <div class="col">Columna 6</div>
    <div class="col">Columna 7</div>
    <div class="col">Columna 8</div>
    <div class="col">Columna 9</div>
    <div class="col">Columna 10</div>
    <div class="col">Columna 11</div>
    <div class="col">Columna 12</div>
</div>

<hr />

<h2>Ejemplo #2</h2>
<div class="row">
    <div class="col-sm-4">Columna 1</div>
    <div class="col-sm-4">Columna 2</div>
    <div class="col-sm-4">Columna 3</div>
</div>*@

@*<h4>Ejemplo 3: Alineando filas</h4>
<div class="row justify-content-end">
    <div class="col-3">Columna 1</div>
    <div class="col-3">Columna 2</div>
    <div class="col-3">Columna 3</div>
</div>

<div class="row" style="height: 200px;">
    <div class="col align-self-start">Columna 1</div>
    <div class="col align-self-center">Columna 2</div>
    <div class="col align-self-end">Columna 3</div>
</div>

<h4>Ejemplo 4: Offset o salto de columnas</h4>
<div class="row">
    <div class="col-3">Columna 1</div>
    <div class="col-4 offset-5">Columna 2</div>
</div>

<div class="row">
    <div class="col-2">Columna 1</div>
    <div class="col-4 ms-auto">Columna 2</div>
</div>*@

@*<h4>Ejemplo 5: Gutters</h4>
<div class="row gx-sm-0 gx-md-3 gx-lg-5">
    <div class="col-2">
        <div class="bg-light border">
            Columna 1
        </div>
     </div>
    <div class="col-2">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>

<h4>Ejemplo 6: Gutter Vertical</h4>

<div class="row gx-sm-0 gx-md-3 gx-lg-5 gy-3">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>

<h4>Ejemplo 7: Gutter Vertical y Horizontal</h4>

<div class="row g-2">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>*@

@*<h4>Ejemplo 8: Trabajar con imagenes en columnas</h4>
<div class="row">
    <div class="col-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
    <div class="col-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
</div>

<h4>Ejemplo 8: Trabajar con imagenes verticales</h4>
<div class="row gy-3">
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-fluid" alt="Imagen de los Mayas" src="https://concepto.de/wp-content/uploads/2019/09/cultura-maya-mesoamerica-precolombino-historia-mexico-e1567715881268.jpg" />
    </div>
</div>

<h4>Ejemplo 9: Imagenes en Thumbnail</h4>
<img class="img-thumbnail rounded-circle" src="https://img.a.transfermarkt.technology/portrait/big/30598-1606767743.jpg?lm=1" />
*@
@*
<h2>Ejemplo 10: Colores</h2>
<div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
<div class="p-3 mb-2 bg-primary bg-gradient text-white">.bg-primary con gradiente</div>

<div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
<div class="p-3 mb-2 bg-secondary bg-gradient text-white">.bg-secondary con gradiente</div>

<div class="p-3 mb-2 bg-success text-white">.bg-success</div>
<div class="p-3 mb-2 bg-success bg-gradient text-white">.bg-success con gradiente</div>

<div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
<div class="p-3 mb-2 bg-danger bg-gradient text-white">.bg-danger con gradiente</div>

<div class="p-3 mb-2 bg-warning text-white">.bg-warning</div>
<div class="p-3 mb-2 bg-warning bg-gradient text-white">.bg-warning con gradiente</div>

<div class="p-3 mb-2 bg-info text-white">.bg-info</div>
<div class="p-3 mb-2 bg-info bg-gradient text-white">.bg-info con gradiente</div>

<div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
<div class="p-3 mb-2 bg-dark bg-gradient text-white">.bg-dark con gradiente</div>*@

@*<h2>Ejemplo 11: Tablas</h2>

<table class="table table-hover table-bordered table-striped table-sm">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Apellido</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Juan</td>
            <td>Perez</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Maria</td>
            <td>Mejia</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Karla</td>
            <td>Lopezfi</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td>3</td>
            <td></td>
        </tr>
    </tfoot>
</table>*@

@*<h2>Ejemplo 12: Ratio</h2>

<h5>Sin Ratio</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ZcIQ7xkFxd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h5>Con ration de 16x9</h5>

<div class="ratio ratio-16x9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZcIQ7xkFxd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<hr />

<div class="row gy-3">
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZcIQ7xkFxd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZcIQ7xkFxd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZcIQ7xkFxd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>*@

@*<h2>Ejemplo 13: Tamaños</h2>
<h4>Anchura</h4>
<div class="w-25 bg-primary">Ancho 25%</div>
<div class="w-50 bg-primary">Ancho 50%</div>
<div class="w-75 bg-primary">Ancho 75%</div>
<div class="w-100 bg-primary">Ancho 100%</div>
<div class="w-auto bg-primary">Ancho auto</div>

<h4>Alturas</h4>
<div class="bg-info" style="height: 100px;">
    <div class="h-25 d-inline-block bg-primary">Altura 25%</div>
    <div class="h-50 d-inline-block bg-primary">Altura 50%</div>
    <div class="h-75 d-inline-block bg-primary">Altura 75%</div>
    <div class="h-100 d-inline-block bg-primary">Altura 100%</div>
    <div class="h-auto d-inline-block bg-primary">Altura Auto</div>
</div>

<h2>Todo el ancho y alto del viewport</h2>
<div class="vw-100 bg-success">Anchura 100vw</div>
<div class="vh-100 bg-warning">Altura 100vh</div>*@

@*<h2>Ejemplo 14: Formularios</h2>

<form>
    <div class="mb-3">
        <label class="form-label">Correo Electronico</label>
        <input type="email" name="correo" class="form-control" placeholder="Ingrese su correo" />
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Color favorito</label>
        <select class="form-select">
            <option selected>Color favorito</option>
            <option value="1">Azul</option>
            <option value="2">Rojo</option>
            <option value="3">Verde</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-check-label">Es empleado</label>
        <input type="checkbox" class="form-check-input" />
    </div>

    <div class="mb-3">
        <label class="form-check-label">Es mujer</label>
        <input type="radio" name="genero" value="F" class="form-check-input" />
    </div>
    <div class="mb-3">
        <label class="form-check-label">Es hombre</label>
        <input type="radio" name="genero" value="M" class="form-check-input" />
    </div>

    <div class="mb-3">
        <label class="form-label">Correo Electronico</label>
        <input type="email" name="correo" class="form-control" placeholder="Ingrese su correo" disabled />
    </div>

    <div class="mb-3 form-floating">
        <input type="email" name="correo" class="form-control" placeholder="Correo Electronico" />
        <label class="form-label">Correo Electronico</label>
    </div>

    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" name="correo" class="form-control" placeholder="Ingrese su contraseña" />
    </div>

    <div class="mb-3">
        <label class="form-label">Color de camisa</label>
        <input type="color" name="color-camisa" class="form-control form-control-color" />
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-secondary">Cancelar</button>
    </div>

</form>

<h2>Ejemplo 15: Formulario en columnas</h2>

<form class="row">
    <div class="col">
        <input type="text" class="form-control" placeholder="Nombres" />
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Apellidos" />
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" >Enviar</button>
    </div>
</form>*@

<h2>Ejemplo 16: Alertas</h2>
@*<div class="alert alert-success" role="alert">Alerta Exitosa</div>
<div class="alert alert-danger" role="alert">Alerta Error</div>
<div class="alert alert-warning" role="alert">Alerta Advertencia</div>*@

<button class="btn btn-primary" onclick="mostrarAlertaExitosa()" >Mostrar alerta exitoso</button>
<button class="btn btn-primary" onclick="mostrarAlertaError()">Mostrar alerta error</button>

<div>
    Las alertas se van a mostrar aquí
</div>

<div id="contenedor-alerta"></div>

@section Scripts {
    <script>
        function mostrarAlertaExitosa() {
        
        }

        function mostrarAlertaError() {
        
        }

        function mostrarAlerta(mensaje, tipo) {
            const alerta = document.createElement('div');
            alerta.innerHTML = ``;


        }
    </script>
}