<div style="margin-top: -100px;">
    <div class="row justify-content-center text-center">
        <div class="col col-3 bg-white experiencia-i habilidades">
            <i class="bi bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>
                Trabajo desdel el desarrollo, pruebas automaticas
                y puesta en produccion con entrega continua.
            </p>

            <p class="text-primary cabecera">Stack</p>
            <p>Asp.Net Core, SQL Server</p>

            <p class="text-primary cabecera">Experiencia</p>
            <ul>
                <li>Web Apis</li>
                <li>Entity Framework</li>
                <li>Dapper</li>
                <li>Queries especiales</li>
            </ul>
        </div>

        <div class="col col-3 bg-white experiencia-d habilidades">
            <i class="bi bi-code-slash"></i>
            <h3>Frontend</h3>
            <p>
                Puedo crear frontends robustos los cuales cumplen con los
                requisitos del negocio.
            </p>

            <p class="text-primary cabecera">Stack</p>
            <p>Angular, Blazor, VueJs/p>

            <p class="text-primary cabecera">Experiencia</p>
            <ul>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>JQuery</li>
                <li>Pruebas Automaticas</li>
                <li>Markdown</li>
            </ul>
        </div>

    </div>
</div>