<div class="text-center mb-3">
    <h1 class="display-4">Soy José López Palencia</h1>

    @*<h4>@hoy.ToString("dd/MM/yyyy hh:mm:ss")</h4>*@

    <h2>Soy un desarrollador con pasión por crear soluciones eficientes a travéz del software</h2>
    <img class="img-fluid w-25 rounded-circle"
         src="~/images/foto01.jpg" alt="Imagen de Perfil" />
</div>

@*Logo .Net*@
<div class="text-center mb-3">
    <img class="img-fluid w-25" src="~/images/dotnet-imagen-2.png" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h2>Bienvenido a mi portafolio</h2>
        <p>
            Soy un programdor con mas de 13 años de experiencia en desarrollo de
            Software. He trabajado en proyectos de diferentes tamaños y complejidades,
            utilizando varios lenguajes de prorgramación y tecnologías.
            Entre mis principales proyectos destacan la implemntacion de un sistema de 
            gestión de ventas y control de inventario para una cadena de tiendas de electrónica,
            utilizando C# y MSSQL, cumpliendo con los requerimientos del clinete y con 
            altos estandares de calidad.
        </p>
    </div>
</div>